<div class="service_block">
	<div class="wap_app_web">
		<div class="title_web_app"><?php echo __('Qui trình làm sản phẩm'); ?></div>
		<div class="m_w_a">
			<div  rel="ct_1" class="ls_tab tab1"><?php echo __('Website'); ?></div>
			<div  rel="ct_2" class="ls_tab tab2"><?php echo __('Ứng dụng'); ?></div>
			<div class="clear"></div>      
			<div  class="ct_d1 ct_1">   
					<?php echo $this->Html->image(__('web_vi.png'));?>
			</div>
			<div  style="display:none;" class="ct_d1 ct_2">   
				 <?php echo $this->Html->image(__('app_vi.png'));?>
			</div>
		</div>
		<div class="select_2">
			<div class="left_se">
				<div class="title_web_app">
					<?php echo __('Đặc điểm của công ty JVBvietnam');?>
				</div>
				<div class="m_left">
					<?php echo $this->Html->image(__('select_vi.png'));?>
				<div>
					<p><?php echo __('Thăm trực tiếp, các cuộc họp'); ?></p>
					<p><?php echo __('Nắm chính xác các yêu cầu của khách hàng,đề xuất ý tưởng'); ?></p>
					<p><?php echo __('Đảm bảo an toàn'); ?></p>
				</div>	
				<div>

					<?php echo __('Hợp tác chặt chẽ của phía Nhật Bản BSE và đội ngũ phát triển Việt Nam,đáng tin cậy, nhanh chóng hoàn thành sản phẩm.'); ?>

				</div>	
					<div class="clear"></div>
				</div>
			</div>
			<div class="right_se">
				<div class="title_web_app">
					<?php echo __('Tin tức');?>
				</div>
				<div class="news_home">      
					<div class="item">
						<a href="#">
							<img class="lazy" alt='' src=''/>
						</a>
						<h3>
							<?php foreach ($data as $kid => $value) :?>
							<a href="">
								<?php echo $this->Html->link($value['title'],array('controller'=>'news','action'=>'detaill', $value['title_id']));?>


								 - <span>17/08/14</span>
							</a>

						</h3>
							<div class="intro">
								<p> 
								   <?php echo $value['content'];?>
								</p>
							</div>
						</div>
						<?php endforeach; ?>
						<div class="clear"></div>      
						<div class="item">
							<a href="#">
								<img class="lazy" alt='' src=''/>
							</a>
							<h3>
								<a href="">
									<?php echo $value['title'];?> - <span>17/08/14</span>
								</a>
							</h3>
							<div class="intro">
								<p>
									<?php echo $value['content'];?>
								</p>
							</div>
						</div>
						<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

</div>