<meta charset="UTF-8">
<div class="content">
    <div class="sitebar">
        <div class="sitebar_item">
            <ul>
                        
                <li><a href="#">Danh muc 2</a></li>
                        
                <li><a href="#">Danh muc 1</a></li>
                
            </ul>
        </div>
        
        <div class="sitebar_item">
            <div class="lasted_title"><?php echo __('Tin nổi bật');?></div>
                <div class="lasted_top">
                    <?php foreach ($data as $id => $value): ?>
                    <div class="title">
                      <a href="#">
                        <?php
                          echo $value['title'];
                        ?>
                      </a>
                    </div>
                    <div class="im">
                      <a href="#"><img class="lazy" alt='' src=''/></a>
                    </div>
                    <div class="intro">
                        <?php
                          echo $value['content'];
                        ?>
                    </div>
                    <?php endforeach; ?>  
                </div>         
                <div class="lasted_item">
                    <a href="#"> 
                          <?php
                            echo $value['title'];
                          ?> 
                    </a>
                </div>  
                          
        </div>
     </div>
    <div class="center">
                
        <div class="news_item">
            <div class="im"><a href="#"><img class="lazy" alt='' src=''/></a></div>
            <div class="title">
              <a href="#"><?php foreach ($data as $id => $value): ?> 
                          <?php
                            echo $value['title'];
                          ?>
                  <span> - 17/08/14</span>
              </a>
            </div>

            <div class="intro">
               <p>
                <?php
                  echo $value['content'];
                ?>
              </p>
                  <?php endforeach; ?>  
            </div>
             
        </div>
              
        <div class="news_item">
            <div class="im"><a href="#"><img class="lazy" alt='' src=''/></a></div>
            <div class="title"><a href="#">Tuyển lập trình viên Mobile - <span>17/08/14</span></a></div>
            <div class="intro">
              <p>
                <?php echo __('Công ty JVB Vietnam đang có nhu cầu tuyển lập trình viên Mobile có từ 1 năm  kinh nghiệm trở lên.');?>
              </p>
            </div>
        </div>
        
        <div class="pager">
            
        </div>
    </div>
    <div class="clear"></div>
</div>