
			<!DOCTYPE html>
			<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi" dir="ltr">
			<head>
			<title> JVB Vietnam  | Trang Chủ</title><meta name='title' content=' JVB Vietnam  | Trang Chủ' />
			<meta http-equiv="Content-Language" content="vi" />
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta name="Language" content="Vietnamese">
			<meta name="author" content="">
			<meta name="copyright" content="">
			<meta name="robots" content="FOLLOW,INDEX">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
				
			<meta name="geo.region" content="VN" />
			<meta name="geo.position" content="10.777392;106.700662" />
			<meta name="ICBM" content="10.777392, 106.700662" />

				
			<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
			<meta name="DC.title" content="Trang Chủ" />
			<meta name="DC.identifier" content="http://jvb-corp.com/vi/" />
		    <meta name="DC.description" content="" />
			
			<meta name="DC.language" scheme="ISO639-1" content="en" />
			
			
			
			<link href="" rel="publisher" />
			<link rel="shortcut icon" href="http://jvb-corp.com/favicon.ico" type="image/x-icon" />
			
			        <link type="text/css" rel="stylesheet" href="app/webroot/css/style.css"  />  
                    <link type="text/css" rel="stylesheet" href="app/webroot//css/jquery.bxslider.css"  />
			        <script language="javascript" type="text/javascript">

		
		
    			var vs = {};
				var noimage=0;
				var image = "loader.gif";
				var imgurl = "http://jvb-corp.com/skins/user/finance/images";
				var img = "htc";
				var boardUrl = "http://jvb-corp.com";
				var baseUrl  = "http://jvb-corp.com/vi/";
				 var ajaxfile = boardUrl + "/index.php";
				var global_website_title = "www.jvb-corp.com";
    		
</script>        
<script type="text/javascript" src='app/webroot/js/jquery-1.7.1.js'></script>
        
<script type="text/javascript" src='app/webroot/js/jquery.nivo.slider.js'></script>
        
<script type="text/javascript" src='app/webroot/js/slideios.js'></script>
        
<script type="text/javascript" src='app/webroot/js/jquery.lazy.js'></script>
        
<script type="text/javascript" src='app/webroot/js/jquery.bxslider.js'></script>

			</head>
			<body>
			        <script type="text/javascript">

$(document).ready(function(){
$('.bxslider').bxSlider({
 speed: 700,
 mode: 'fade',
 infiniteLoop: true,
 hideControlOnEnd: true,
 controls: true,
 pager: false,
auto: true
});
});
</script>

<div class="header">
<div class="wrapper_header">
    <div class="logo"><a href="http://jvb-corp.com/vi/"><img style="width:95px;" src="img/logo_jvb.png" /></a>
<img class="i_slogan" src="img/img_slogan.png">
    </div>
<form id="from_search" action="http://jvb-corp.com/vi/pages/search" class="button_ss form_search">
<input value="" name="keyword" class="key-word" type="text">
<input type="button" value="Search">
</form>
<script>
$(document).ready(function(){
$('.button_ss').click(function(){
var keyword=$('.key-word').val();
if(keyword==''){
$('.key-word').css({'border':'1px solid red'});
return false;
}
if(keyword.length<=3){
$('.key-word').css({'border':'1px solid red'});
return false;
}
$('#from_search').submit();
});
})
</script>
        
        <div class="lang">
<a href="http://jvb-corp.com"><img class="flag_jp" width="40px" src="img/fl_jp.jpg" /></a>
<a href="http://jvb-corp.com/vi"><img width="40px" src="img/fl_vi.jpg" /></a>
        <a href="http://jvb-corp.com/en"><img  width="40px" src="img/fl_en.jpg" /></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
        <div class="clear"></div>
        <div class="menu_top">
        <ul>
                        
                <li class="active" ><a href="http://jvb-corp.com/vi/home">Trang chủ</a></li>
                
                        
                <li class="" ><a href="http://jvb-corp.com/vi/abouts">Giới thiệu</a></li>
                
                        
                <li class="" ><a href="http://jvb-corp.com/vi/services">Dịch vụ</a></li>
                
                        
                <li class="" ><a href="http://jvb-corp.com/vi/news">Tin tức</a></li>
                
                        
                <li class="" ><a href="http://jvb-corp.com/vi/recruitment">Tuyển dụng</a></li>
                
                        
                <li class="" ><a href="http://jvb-corp.com/vi/contacts">Liên hệ</a></li>
                
                
                <div class="clear"></div>
            </ul>
        
        </div>
<div class="banner">
<div class="wrapper_banner">
    <ul class="bxslider">
            
        <li>
            <div class="service_slide">
                <div class="title">Phát triển ứng dụng Mobile</div>
                Công ty chúng tôi cung cấp dịch vụ phát triển ứng dụng Mobile trên nền iOS và Android.
Đội ngũ nhân viên của chúng tôi tư vấn và phát triển dựa trên nhu cầu thực tế của khách hàng.
<div class="readmore"><a href="http://jvb-corp.com/vi/banner_top/detail/dich-vu-cntt.html">Xem thêm</a></div>
                </div>
                <div class="im_slide"><img class="lazy" alt='banner mobile' src='http://jvb-corp.com/sources/utils/timthumb.php?src=http://jvb-corp.com/uploads/banner_top/2014/08/17/banner_mobile.png&w=1000&h=310&zc=1'/></div>
            </li>
                    
        <li>
            <div class="service_slide">
                <div class="title">Phát triển ứng dụng Web</div>
                Công ty JVB Vietnam cung cấp dịch vụ thiết kế và phát triển ứng dụng Web
<div class="readmore"><a href="http://jvb-corp.com/vi/banner_top/detail/phat-trien-ung-dung-web.html">Xem thêm</a></div>
                </div>
                <div class="im_slide"><img class="lazy" alt='banner web' src='http://jvb-corp.com/sources/utils/timthumb.php?src=http://jvb-corp.com/uploads/banner_top/2014/08/17/banner_web.png&w=1000&h=310&zc=1'/></div>
            </li>
                    
        <li>
            <div class="service_slide">
                <div class="title">Nội dung số</div>
                Công ty JVB Vietnam số hóa thông tin về văn hóa, môi trường kinh doanh tại Việt Nam để quảng bá cho khách hàng Nhật
<div class="readmore"><a href="http://jvb-corp.com/vi/banner_top/detail/noi-dung-so.html">Xem thêm</a></div>
                </div>
                <div class="im_slide"><img class="lazy" alt='banner digicontent' src='http://jvb-corp.com/sources/utils/timthumb.php?src=http://jvb-corp.com/uploads/banner_top/2014/08/17/banner_digicontent.png&w=1000&h=310&zc=1'/></div>
            </li>
            
        </ul>
      
    </div>
</div>
<div class="news_content">
<marquee behavior="scroll" direction="left">
<ul>
        
<li><a href="">Tuyển phiên dịch viên tiếng Nhật</a></li>
        
<li><a href="">Tuyển lập trình viên Mobile</a></li>

</ul>
</marquee>
</div>
        <script type="text/javascript">
$(document).ready(function(){
setTimeout(function(){
$('.tab2').trigger('click');
},100);
$('.ls_tab').click(function(){
$('.ls_tab').removeClass('active');
$(this).addClass('active');
$('.ct_d1').hide();
$("."+$(this).attr('rel')).fadeIn(1);
});
});
</script>
<div class="service_block">
<div class="wap_app_web">
<div class="title_web_app">Qui trình làm sản phẩm</div>
<div class="m_w_a">
<div  rel="ct_1" class="ls_tab tab1">ウェブサイト</div>
<div  rel="ct_2" class="ls_tab tab2">アプリ</div>
<div class="clear"></div>      
<div  class="ct_d1 ct_1">   
<img  src="img/web_vi.png">
</div>
<div  style="display:none;" class="ct_d1 ct_2">   
<img  src="http://jvb-corp.com/skins/user/finance/images/app_vi.png">
</div>
</div>
</div>
<div class="select_2">
<div class="left_se">
<div class="title_web_app">Đặc điểm của công ty JVBvietnam</div>
<div class="m_left">
<img  src="img/select_vi.png">
<div>

</div>
<div>

</div>
<div class="clear"></div>
</div>
</div>
<div class="right_se">
<div class="title_web_app">Tin tức</div>
<div class="news_home">
        
<div class="item">
<a href="http://jvb-corp.com/vi/news/detail/tuyen-phien-dich-vien-tieng-nhat.html"><img class="lazy" alt='' src='http://jvb-corp.com/sources/utils/timthumb.php?src=http://jvb-corp.com/uploads/.&w=85&h=68&zc=2'/></a>
<h3><a href="http://jvb-corp.com/vi/news/detail/tuyen-phien-dich-vien-tieng-nhat.html">Tuyển phiên dịch viên tiếng Nhật - <span>17/08/14</span></a></h3>
<div class="intro"><p>Công ty JVB Vietnam đang có nhu cầu tuyển phiên dịch viên tiếng Nhật có trình độ tương đương N2
</p></div>
</div>
<div class="clear"></div>
        
<div class="item">
<a href="http://jvb-corp.com/vi/news/detail/tuyen-lap-trinh-vien-mobile.html"><img class="lazy" alt='' src='http://jvb-corp.com/sources/utils/timthumb.php?src=http://jvb-corp.com/uploads/.&w=85&h=68&zc=2'/></a>
<h3><a href="http://jvb-corp.com/vi/news/detail/tuyen-lap-trinh-vien-mobile.html">Tuyển lập trình viên Mobile - <span>17/08/14</span></a></h3>
<div class="intro"><p>Công ty JVB Vietnam đang có nhu cầu tuyển lập trình viên Mobile có từ 1 năm kinh nghiệm trở lên.
</p></div>
</div>
<div class="clear"></div>

</div>
</div>
</div>

    <div class="clear"></div>
</div>
<div class="footer">
<div class="wrapper_footer">
    <div class="company_name">Công ty cổ phần JVB Việt Nam</div>
        <div class="company_address">Số 32-34, Đường Đặng Văn Ngữ, Phường Phương Liên, Quận Đống Đa, Thành phố Hà Nội, Việt Nam</div>
        <div class="social">
        <a href=" "><img src="http://jvb-corp.com/skins/user/finance/images/face.png" /></a>
            <a href=" "><img src="img/twitter.png" /></a>
            <a href=""><img src="img/print.png" /></a>
        </div>
        <div class="design_by">Copyright©2014 JVB Vietnam.All Rig </div>
    </div>
</div>



			</body> 
			</html>
			        
<script type="text/javascript" src='app/webroot/js/imenu.js'></script>
        <script language="javascript" type="text/javascript">

    			 
    		
</script>