<div class="content">
  <div class="sitebar">
    <div class="sitebar_item">
      <ul id="menu">
        <?php 
          foreach ($data as $list){
            echo "<li>";
            echo $this->Html->link($list['title'], array('controller' => 'about_us', 'action' => 'index', $list['about_id']));
            echo "</li>";
          }
        ?>
      </ul>
    </div>
  </div>
  <div class="center">
    <div class="title_detail">
        <?php echo (isset($detail['title']))? $detail['title']: ''; ?>
    </div>
    <div class="dtitle">
      <?php echo (isset($detail['content']))? $detail['content']: ''; ?>
    </div>
  </div>
  <div class="clear"></div>
</div>
