      <div class="content">

<div class="sitebar">
        <div class="sitebar_item">
            <ul id="menu" >
                        
<li><a href="http://jvb-corp.com/vi/abouts/detail/gioi-thieu.html">Giới Thiệu </a></li>

            </ul>
        </div>
       
     </div>
 
    <div class="center">
    <div class="title_detail">Giới Thiệu 

</div>
       <div class="dtitle">
<table style="width: 503px;" border="0" cellspacing="0" cellpadding="0"><colgroup> <col width="167" /> <col width="336" /> </colgroup>
<tbody>
<tr>
<td class="xl63" width="167" height="21">T&ecirc;n C&ocirc;ng Ty&nbsp;</td>
<td class="xl63" width="336">C&ocirc;ng ty cổ phần JVB Việt Nam&nbsp;</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">Năm th&agrave;nh lập</td>
<td class="xl64" width="336">Ng&agrave;y 23 th&aacute;ng 8 năm 2013</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">Vốn điều lệ</td>
<td class="xl63" width="336">1,000,000,000 VND</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">Gi&aacute;m đốc điều h&agrave;nh</td>
<td class="xl63" width="336">Nguyễn H&agrave;m Hạnh</td>
</tr>
<tr>
<td class="xl63" width="167" height="10">&nbsp;</td>
<td class="xl63" width="336">&nbsp;</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">Địa Chỉ&nbsp;</td>
<td class="xl63" width="336">Số 32-34, Đường Đặng Văn Ngữ, Phường Phương</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">&nbsp;</td>
<td class="xl63" width="336">Li&ecirc;n, Quận Đống Đa, Th&agrave;nh phố H&agrave; Nội, Việt Nam&nbsp;</td>
</tr>
<tr>
<td class="xl63" width="167" height="10">&nbsp;</td>
<td class="xl63" width="336">&nbsp;</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">TEL</td>
<td class="xl63" width="336">(84)462750148</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">FAX</td>
<td class="xl63" width="336">(84)462750179</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">&nbsp;</td>
<td class="xl63" width="336">&nbsp;</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">Nội dung hoạt động&nbsp;</td>
<td class="xl63" width="336">Ph&aacute;t triển ứng dụng Web</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">&nbsp;</td>
<td class="xl63" width="336">Ph&aacute;t triển ứng dụng Mobile</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">&nbsp;</td>
<td class="xl63" width="336">Vận h&agrave;nh trang web nội dung</td>
</tr>
<tr>
<td class="xl63" width="167" height="21">&nbsp;</td>
<td class="xl63" width="336">Dịch thuật Nhật Việt</td>
</tr>
</tbody>
</table>
</div>
<p>&nbsp;</p>
       
    </div>
    <div class="clear"></div>
</div>