<meta charset="UTF-8">
<div class="content">
    <div class="sitebar">
        
        <div class="sitebar_item">
            <ul>
                        
                <li><a href="#">Danh muc 2</a></li>
                        
                <li><a href="#">Danh muc 1</a></li>
                
            </ul>
        </div>
        
        <div class="sitebar_item">
            <div class="lasted_title">Tin nổi bật</div>
                    
                
                <div class="lasted_top">
                    <div class="title"><a href="#"><?php echo $new[0]['Article']['title'];?></a></div>
                    <div class="im"><a href="#"><!-- <img class="lazy" alt='' src='http://jvb-corp.com/sources/utils/timthumb.php?src=http://jvb-corp.com/uploads/.&w=85&h=60&zc=2'/> --></a></div>
                    <div class="intro">
                       <?php echo $new[0]['Article']['content'];?>

                    </div>
                </div>         
                <div class="lasted_item"><a href="#"><?php echo $new[0]['Article']['title'] ; ?></a></div>      
        </div>
     </div>
    <div class="center">
                
        <div class="news_item">
            <div class="im"><a href="#"><img class="lazy" alt='' src='http://jvb-corp.com/sources/utils/timthumb.php?src=http://jvb-corp.com/uploads/.&w=85&h=68&zc=2'/></a></div>
            <div class="title"><a href="#"><?php echo $new[0]['Article']['title'] ; ?><span> - 17/08/14</span></a></div>
            <div class="intro"><p><?php echo $new[0]['Article']['content'];?>
</p></div>
        </div>
                
        <div class="news_item">
            <div class="im"><a href="#"><img class="lazy" alt='' src='http://jvb-corp.com/sources/utils/timthumb.php?src=http://jvb-corp.com/uploads/.&w=85&h=68&zc=2'/></a></div>
            <div class="title"><a href="http://jvb-corp.com/vi/news/detail/tuyen-lap-trinh-vien-mobile.html">Tuyển lập trình viên Mobile - <span>17/08/14</span></a></div>
            <div class="intro"><p>Công ty JVB Vietnam đang có nhu cầu tuyển lập trình viên Mobile có từ 1 năm kinh nghiệm trở lên.
</p></div>
        </div>
        
        <div class="pager">
            
        </div>
    </div>
    <div class="clear"></div>
</div>