
</div>
        <div class="content">

<div class="sitebar">
        <div class="sitebar_item">
            <ul id="menu" >
                        
<li><a href="http://jvb-corp.com/vi/services/detail/phat-trien-ung-dung-mobile.html">Ứng dụng di động</a></li>
        
<li><a href="http://jvb-corp.com/vi/services/detail/ung-dung-web.html">Ứng dụng Web</a></li>
        
<li><a href="http://jvb-corp.com/vi/services/detail/noi-dung-so.html">Nội dung số</a></li>

            </ul>
        </div>
       
     </div>
 
    <div class="center">
    <div class="title_detail">Ứng dụng di động



</div>
       <p><span style="color: #000000;">C&ocirc;ng ty JVB Vietnam cung cấp dịch ph&aacute;t triển ứng dụng Mobile tập trung cho kh&aacute;ch h&agrave;ng tại Nhật bản.</span></p>
<p><span style="color: #000000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
<p><span style="color: #000000;"> ■Đội ngũ ph&aacute;t triển</span></p>
<p><span style="color: #000000;">&nbsp; C&ocirc;ng ty c&oacute; đội ngũ lập tr&igrave;nh vi&ecirc;n tại Hanoi dưới sự quản l&yacute; của c&aacute;c kỹ sư c&oacute; nhiều năm kinh nghiệm l&agrave;m việc tại Nhật.</span></p>
<p><span style="color: #000000;">　C&ocirc;ng ty cũng c&oacute; kỹ sư cầu nối tại Nhật để trực tiếp gặp gỡ kh&aacute;ch h&agrave;ng, t&igrave;m hiểu y&ecirc;u cầu sản phảm v&agrave; b&aacute;o c&aacute;o tiến độ cho kh&aacute;ch h&agrave;ng tại Nhật</span><br /><span style="color: #000000;"> 　</span><br /><span style="color: #000000;"> ■Quy tr&igrave;nh ph&aacute;t triển</span><br /><span style="color: #000000;"> 　　Đội ngũ nh&acirc;n vi&ecirc;n c&ocirc;ng ty đ&atilde; c&oacute; nhiều năm kinh nghiệm với c&aacute;c m&ocirc; h&igrave;nh ph&aacute;t triển Waterfall hay Agile.</span></p>
<p><span style="color: #000000;">&nbsp; Ch&uacute;ng t&ocirc;i sẽ ph&aacute;t triển dự &aacute;n theo quy tr&igrave;nh mong muốn của kh&aacute;ch h&agrave;ng. Đồng thời với mỗi dự &aacute;n ch&uacute;ng t&ocirc;i sẽ tr&igrave;nh b&agrave;y m&ocirc; h&igrave;nh ph&aacute;t triển th&iacute;ch hợp nhất dựa tr&ecirc;n nhu cầu v&agrave; thực tế của kh&aacute;ch h&agrave;ng.</span></p>
<p><span style="color: #000000;">■Quy m&ocirc; dự &aacute;n</span></p>
<p><span style="color: #000000;">&nbsp; C&ocirc;ng ty c&oacute; thể ph&aacute;t triển những dự &aacute;n nhỏ từ 2 man/month đến những dự &aacute;n cần 5-7 người.</span></p>
<p><br /><span style="color: #000000;"> ■C&aacute;c dự &aacute;n đ&atilde; l&agrave;m</span><br /><span style="color: #000000;"> 　Xin vui l&ograve;ng <a href="http://jvb.eightbelow.net/vi/contacts"> li&ecirc;n hệ</a> để biết th&ecirc;m chi tiết.</span></p>
       
<div class="other">
            <div class="other_title"><a>Tin liên quan</a></div>
                <ul>
                        
<li><a href="http://jvb-corp.com/vi/services/detail/ung-dung-web.html">Ứng dụng Web</a></li>
        
<li><a href="http://jvb-corp.com/vi/services/detail/noi-dung-so.html">Nội dung số</a></li>

                </ul>
            </div>
        
    </div>
    <div class="clear"></div>
</div>
