<div class="content">

    <div class="sitebar">
        <div class="sitebar_item">
            <ul id="menu" >
                <li><a href="javascript:void(0)" id='title1' class="title active"><?php echo __('Ứng dụng di động') ?></a></li>
                <li><a href="javascript:void(0)" id='title2' class="title"><?php echo __('Ứng dụng Web') ?></a></li>
                <li><a href="javascript:void(0)" id='title3' class="title"><?php echo __('Nội dung số') ?></a></li>
            </ul>
        </div>
    </div>
 
    <div class="center" id='content1'>
        <div class="title_detail"><?php echo __('Ứng dụng di động') ?></div>
        
            <p><span style="color: #000000;">C&ocirc;ng ty JVB Vietnam cung cấp dịch ph&aacute;t triển ứng dụng Mobile tập trung cho kh&aacute;ch h&agrave;ng tại Nhật bản.</span></p>
       
        <div class="other">
            <div class="other_title"><a><?php echo __('Tin liên quan') ?></a></div>
                <ul>
                    <li><a href="#"><?php echo __('Ứng dụng Web') ?></a></li>
                    <li><a href="#"><?php echo __('Nội dung số') ?></a></li>
                </ul>
        </div>

    </div>

    <div class="center" id='content2'>
        <div class="title_detail"><?php echo __('Ứng dụng Web') ?></div>

            <p><span style="color: #000000;">C&ocirc;ng ty JVB Vietnam cung cấp dịch ph&aacute;t triển ứng dụng Web tập trung cho kh&aacute;ch h&agrave;ng tại Nhật bản.</span></p>

       
        <div class="other">
            <div class="other_title"><a><?php echo __('Tin liên quan') ?></a></div>
                <ul>
                    <li><a href="#"><?php echo __('Ứng dụng di động') ?></a></li>
                    <li><a href="#"><?php echo __('Nội dung số') ?></a></li>
                </ul>
        </div>

    </div>

    <div class="center" id='content3'>
        <div class="title_detail"><?php echo __('Nội dung số') ?></div>

            <p><span style="color: #000000;">C&ocirc;ng ty JVB Vietnam cung cấp dịch ph&aacute;t triển ứng dụng số tập trung cho kh&aacute;ch h&agrave;ng tại Nhật bản.</span></p>
       
        <div class="other">
            <div class="other_title"><a><?php echo __('Tin liên quan') ?></a></div>
                <ul>
                    <li><a href="#"><?php echo __('Ứng dụng di động') ?></a></li>
                    <li><a href="#"><?php echo __('Ứng dụng Web') ?></a></li>  
                </ul>
        </div>

    </div>


    <div class="clear"></div>
</div>

<script type="text/javascript">
 $(document).ready(function () {
     $("#content1").show();
        $("#content2").hide();
        $("#content3").hide();
 });
     $(".title").click(function(){
        $(".title").removeClass('active');
        $(this).addClass('active');
     });
    $("#title1").click(function(){
        $("#content1").show();
        $("#content2").hide();
        $("#content3").hide();
    });
     $("#title2").click(function(){
         $("#content2").show();
        $("#content1").hide();
        $("#content3").hide();
    });
      $("#title3").click(function(){
         $("#content3").show();
        $("#content2").hide();
        $("#content1").hide();
    });
</script>